div.TOP_ROW_HEADER {
    position: fixed;
    margin-top: 0%;
    width: 100%;
    font-size: 30px;
    color: #FF5D73;
    background-color: black;
}

div.TOP_ROW_HEADER_HOME {
    float: left;
    margin-top: 0%;
    margin-left: 15%;
}

div.TOP_ROW_HEADER_ADD_ITEM {
    float: left;
    padding-top: 0%;
    padding-left: 5%;
}

div.TOP_ROW_HEADER_SEARCH {
    float: left;
    padding-top: 0%;
    padding-left: 5%;
}

div.TOP_ROW_HEADER_PROFILE {
    float: right;
    padding-top: 0%;
    padding-right: 15%
}
