html, body {
    margin: 0;
    padding: 0;

    background-color: rgb(71, 73,75);
}

div.TOP_ROW_HEADER{
    position:fixed;
    margin-top:0%;
    width: 100%;
    

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:#fc1100;
    background-color: black;
}

div.TOP_ROW_HEADER_HOME{
    float: left;

    margin-top: 0%;
    margin-left: 15%;
}

div.TOP_ROW_HEADER_ADD_ITEM{
    float: left;

    padding-top: 0%;
    padding-left: 5%;
}

div.TOP_ROW_HEADER_SEARCH{
    float: left;

    padding-top: 0%;
    padding-left: 5%;
}

div.TOP_ROW_HEADER_PROFILE{
    float: right;

    padding-top: 0%;
    padding-right: 15%
}

div.BASIC_PAGE_BODY{
    padding-top:5%;
    margin-left: 15%;
    padding-left: 0%;
    width: 70%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:#fc1100;
    background-color: rgb(128, 120, 120);
}

div.FRIEND_ACTIVITY{

    width:29%;

    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

    padding-top:1%;
    padding-left: 1%;
    padding-right:1%;

    border-style: solid;
    border-width: 5px;
    border-color: #fc1100;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:#000000;
    background-color: rgb(128, 120, 120);
}

div.VISUAL_DATA_ENTRY{

    padding-top:1%;
    padding-bottom:1%;

    display:flex;

    text-align:center;
    background-color: #3a3636;
}

p.total_ranking{

    margin-left:1%;
    margin-right:1%;
    margin-top:auto;
    margin-bottom:auto;

    width:3.5%;
}

img.entry_image{

    margin-top:auto;
    margin-bottom:auto;

    
    margin-left: 1%;
    margin-right: 1%;

    width: 13%;
    height: 13%;
}

div.entry_body {
    margin-left: 3%;
    width: 75%;
    text-align: left;
}

p.entry_name{
    margin-top:2%;
    margin-bottom:2%;
}

p.entry_description{

    margin-top:0%;

    font-size: 18px;
    color:#fc1100;
}

ul.entry_tags{

    padding:0;

    display:flex;
    list-style-type:none;

    font-size: 18px;
}

li.entry_tags{
    margin-right:1%;
}

p.tier_ranking {

    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;

    width: 3.5%;
}